<%= render :layout => 'form' do |f| %>  
  <div class="form-group">
    <%= f.label :page, "페이지 선택", class: "control-label col-md-4" %>
    <div class="col-md-8" id="page-id-select">
      <ul class="list-group">
        <%= render partial: "page", collection: @pages, locals: {f: f} %>
        <li class="list-group-item-cust list-group-item" id="select-again-list">
          <span class="list-group-option">
            <a href="#" id="select-again">다시 선택</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :post_id, "포스트 선택", class: "control-label col-md-4" %>
    <%= f.hidden_field :post_id %>
    <div class="col-md-8">
      <div class="posts-list list-group">
        <a href="#" class="list-group-item post-element" data-post-id="0">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <img class="post-picture" src=""></img>
              <p>
            </div>
            <div class="panel-footer">
              <p class="post-message">페이지 선택 후 포스트를 선택하세요.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :password, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%#= f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"} %>
    </div>
  </div>                                                                                                      
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%#= f.submit "Login", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%#= render "devise/shared/links" %>
    </div>
  </div>
  <div class="actions">
      <%= f.submit "Continue" %>
      or <%= link_to "skip this step", next_wizard_path %>
    </div>
<% end %>