<p>
  <%= link_to mypage_pages_path(current_user) do %>
    <span>페이지 목록으로 돌아가기</span>
  <% end %>
</p>

<h1><%= @page.name %> 게시물 목록</h1>
<p class="btns" id="page_update_btn_wrapper">
  <%= link_to '목록 새로 받아오기',
    update_from_fb_mypage_page_posts_path(@page), id: "page_update_btn" %>
</p>
<% @posts.each do |post|%>
  <% data = MessagePack.unpack post.raw_data%>
	<li>
    <div>
      <p>
        <%= link_to mypage_post_comments_path(post) do %>
          <%= data["id"]%>
        <% end %>
      </p>      
      <p>
        <span>
          <%= link_to mypage_post_comments_path(post) do %>
            <%= image_tag(data["picture"]) if data["picture"]%>
          <% end %>
        </span>
      </p>
      <p>
        <%= link_to mypage_post_comments_path(post) do %>
          <span><%= data["message"] %></span>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
</ul>

