<p>
  <%= link_to mypage_pages_path(current_user) do %>
    <span>페이지 목록으로 돌아가기</span>
  <% end %>
</p>
<p>
  <%= link_to mypage_page_posts_path(@post.page) do %>
    <span>글 목록으로 돌아가기</span>
  <% end %>
</p>
<p><%= image_tag @post.data["picture"] %></p>
<p><%= @post.data["message"] %></p>
<p class="btns" id="page_update_btn_wrapper">
  <%= link_to '목록 새로 받아오기',
    update_from_fb_mypage_post_comments_path(@post), id: "page_update_btn" %>
</p>
<p>댓글 총 <%= @comments.count %>개</p>
<ul>
<% @comments.each do |comment|%>
	<li>
    <div>
      <p>
        <%= link_to comment_url(comment), title: comment.id, target: "_blank" do %>
          <span><%= comment.data["message"] %></span>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
</ul>